.main-promotion {
  &__laptop {
    position: relative;
    height: 480px;
    background-image: url(../img/banner001-768.jpg);
    background-image: -webkit-image-set(
      url('../img/banner001.avif') 1x,
      url('../img/banner001.webp') 1x
    );
    background-image: image-set(
      url('../img/banner001.avif') 1x,
      url('../img/banner001.webp') 1x
    );
    background-position: top -600px left -300px;
    border-radius: 20px;
    color: white;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      border-radius: 20px;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    @media (max-width: 1430px) {
      max-height: 314px;
      background-size: cover;
      background-position: top -200px left 0;
    }

    @media (max-width: 910px) {
      background-size: cover;
      max-height: 280px;
      background-position: top -120px right 0;
      background-repeat: no-repeat;
      background-color: black;
    }

    @media (max-width: 500px) {
      max-height: 340px;
      background-position: top 0 right -100px;
      border-radius: 8px;
    }
  }

  &__timer-title {
    @media (max-width: 1430px) {
      font-size: 16px;
    }
    @media (max-width: 910px) {
      font-size: 12px;
    }
    @media (max-width: 500px) {
      font-size: 8px;
    }
  }

  &__timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 5px;
  }
}

.timer-wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: 1430px) {
    gap: 20px;
  }
  @media (max-width: 910px) {
    gap: 10px;
  }
  @media (max-width: 500px) {
    gap: 8px;
  }
}

.big-numbers {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  margin-right: 6px;

  @media (max-width: 1430px) {
    font-size: 40px;
  }
  @media (max-width: 910px) {
    font-size: 30px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.medium-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;

  @media (max-width: 1430px) {
    font-size: 20px;
  }

  @media (max-width: 910px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 12px;
  }
}